html,
body {
  height: 100%;
  /*width: 80%;*/
  background-color: black;
  font-family: 'VT323', monospace;
  color: white;
}

h1{
  position: absolute;
  left: 1%;
  font-size: 100px;
}

p {
  position: absolute;
  font-size: 70px;
  top: 24%;
  left: 44%;
}

span {
  position: absolute;
  top: 10;
  /*top: ;*/
}

img {
  position: relative;
  /*position: absolute;*/
  top: 26px;
  height: auto;
  width: 70%;
  margin: 8%;
  /*width: 150px;
  height: 70%;*/
}

.ring {
  border: ;
  text-align: center;
  border-radius: 50%;
  stroke-dasharray: 27;
}

.neutral-ring {
  border: 0.5vw dashed #9EA49E;
  /*background-color: grey;*/
}
.player-1-ring {
  border: 0.5vw dashed #54EF54;
  /*background-color: green;*/
}
.player-2-ring {
  border: 0.5vw dashed #EF5353;
}

.neutralConnection {
  color: #9EA49E;
}
.player1Connection {
  color: #54EF54;;
}
.player2Connection {
  color: ##EF5353;;
}

.node-0, .node-1, .node-2, .node-3, .node-4 {
  position: absolute;
  width: 10%;
  height: 20%;
  text-align: center;
  /*border-radius: 50%;
  stroke-dasharray: 27;
  border-style: dashed;*/
}

.node-0 , .node-1  , .node-2 , .node-3 , .node-4  {
  position: absolute;
}

.node-0 {
  top: 60%;
  left: 10%;
}

.node-1 {
  top: 10%;
  left: 30%;
}

.node-2 {
  top: 50%;
  left: 40%;
}

.node-3 {
  top: 70%;
  left: 60%;
}


.node-4 {
  top: 30%;
  left: 80%;
}

#line-a, #line-b, #line-c, #line-d, #line-e, #line-f {
  position: absolute;
  /*border:none;*/
  /*border: 1px dotted #ff0000;*/
  border: 10px;
  /*border-style: none none dotted;*/
  border-style: dashed;
  /*stroke-dasharray: 27;*/
  color: #545454;
  /*background-color:#fff;*/
  /*height:1px;*/
  width: 0%;
}

#line-a {
  top: 26%;
  left: 25%;
  height: 970px;
  transform: rotate(120deg);
  -webkit-transform: rotate(42deg);
}

#line-b {
  top: 46%;
  left: 76%;
  height: 834px;
  transform: rotate(120deg);
  -webkit-transform: rotate(45deg);

}

#line-c {
  top: -8%;
  left: 60%;
  height: 1914px;
  transform: rotate(120deg);
  -webkit-transform: rotate(101deg);
  -ms-transform: rotate(120deg);

}

#line-d {
  top: 47%;
  left: 30%;
  height: 917px;
  transform: rotate(120deg);
  -webkit-transform: rotate(80deg);
  -ms-transform: rotate(120deg);

}

#line-e {
  top: 60%;
  left: 56%;
  height: 454px;
  transform: rotate(120deg);
  -webkit-transform: rotate(116deg);
  -ms-transform: rotate(120deg);
}

#line-f {
  top: 32%;
  left: 40%;
  height: 452px;
  transform: rotate(120deg);
  -webkit-transform: rotate(155deg);
  -ms-transform: rotate(120deg);
}

#rotate1:hover{
  -webkit-animation: rotate 12s linear infinite;
}

.unRotate1:hover{
  -webkit-animation: rotate 12s linear infinite;
}

@-webkit-keyframes rotate {
  from{ -webkit-transform: rotate(0deg);   }
  to{   -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes unRotate {
  from{ -webkit-transform: rotate(0deg);   }
  to{   -webkit-transform: rotate(-360deg); }
}
