html,
body {
  height: 100%;
  /*width: 80%;*/
  background-color: black;
  font-family: 'VT323', monospace;
  color: white;
}

h1{
  position: absolute;
  left: 1%;
  font-size: 100px;
}

p {
  position: absolute;
  font-size: 2vw;
  top: 2vw;
  left: 5vw;
}

span {
  position: absolute;
  top: 10;
  /*top: ;*/
}

img {
  height: 8vw;
  margin: 16%;
}

.neutral-ring {
  border: 0.5vw dashed #9EA49E;
}
.player-1-ring {
  border: 0.5vw dashed #54EF54;
}
.player-2-ring {
  border: 0.5vw dashed #EF5353;
}

.neutralConnection {
  color: #9EA49E;
}
.player1Connection {
  color: #54EF54;;
}
.player2Connection {
  color: ##EF5353;;
}

.ring {
  position: absolute;
  text-align: center;
  border-radius: 50%;
  stroke-dasharray: 30;
  height: 10vw;
  width: 10vw;
}

.node {
  position: absolute;
  height: 10%;
  width: 10%;
}

.node-0 {
  top: 60%;
  left: 10%;
}
.node-1 {
  top: 10%;
  left: 30%;
}
.node-2 {
  top: 50%;
  left: 40%;
}
.node-3 {
  top: 70%;
  left: 60%;
}
.node-4 {
  top: 30%;
  left: 80%;
}

#line-a, #line-b, #line-c, #line-d, #line-e, #line-f {
  position: absolute;
  border: 10px;
  border-style: dashed;
  color: #545454;
  width: 0%;
}

#line-a {
  top: 26%;
  left: 25%;
  height: 970px;
  transform: rotate(120deg);
  -webkit-transform: rotate(42deg);
}
#line-b {
  top: 46%;
  left: 76%;
  height: 834px;
  transform: rotate(120deg);
  -webkit-transform: rotate(45deg);
}
#line-c {
  top: -8%;
  left: 60%;
  height: 1914px;
  transform: rotate(120deg);
  -webkit-transform: rotate(101deg);
  -ms-transform: rotate(120deg);
}
#line-d {
  top: 47%;
  left: 30%;
  height: 917px;
  transform: rotate(120deg);
  -webkit-transform: rotate(80deg);
  -ms-transform: rotate(120deg);
}
#line-e {
  top: 60%;
  left: 56%;
  height: 454px;
  transform: rotate(120deg);
  -webkit-transform: rotate(116deg);
  -ms-transform: rotate(120deg);
}

#line-f {
  top: 32%;
  left: 40%;
  height: 452px;
  transform: rotate(120deg);
  -webkit-transform: rotate(155deg);
  -ms-transform: rotate(120deg);
}

.ring:hover{
  -webkit-animation: theRotate 12s linear infinite;
}

/*img:hover{
  -webkit-animation: unRotate 12s linear infinite;
}*/

@-webkit-keyframes theRotate {
  0%{ -webkit-transform: rotate(0deg);   }
  100%{   -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes unRotate {
  0%{ -webkit-transform: rotate(360deg);   }
  100%{   -webkit-transform: rotate(0deg); }
}
